<!-- Top Navigation Toolbar -->
<mat-toolbar color="primary" class="app-toolbar">
    <span>Flashcards with Angular 13</span>
</mat-toolbar>

<!-- Main Container -->


<main class="container">
    <app-flashcard [card]="currentCard!" (onNextCard)="nextCard()"></app-flashcard>

    <button mat-raised-button color="basic" (click)="nextCard()">
        Next Card
    </button>

    <!-- <mat-card class="flashcard">

        <mat-card-subtitle>
            <mat-chip-list>
                <mat-chip color="accent" selected>Geography</mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>

        <mat-card-content class="card-content">
            <h2 class="question-text">What is the capital of France?</h2>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-raised-button color="primary">Show Answer</button>
        </mat-card-actions>

    </mat-card> -->
</main>